In [1]:
%matplotlib inline

In [2]:
# Import the Dependicies
import pandas as pd
import requests
import gmaps 
# import the API key 
from config import g_key

In [3]:
# Import excel file "cities.csv"

city_data_df = pd.read_csv("Data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kahului,US,2020-05-27 20:31:16,20.89,-156.47,87.80,48,40,8.05
1,1,Mataura,NZ,2020-05-27 20:32:19,-46.19,168.86,37.76,86,0,1.88
2,2,Pevek,RU,2020-05-27 20:32:19,69.70,170.31,37.96,76,100,15.86
3,3,Gardone Val Trompia,IT,2020-05-27 20:32:20,45.69,10.19,69.80,49,5,2.24
4,4,Bredasdorp,ZA,2020-05-27 20:32:20,-34.53,20.04,55.40,58,0,6.93

In [4]:
#Checking data types in DataFrame 
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key. 
gmaps.configure(api_key=g_key)

In [6]:
## 1. Assign the locations to an array of latitude and longitude pairs.
#locations = [latitude, longitude]
## 2. Assign the weights variable to some values.
#temperatures = # an array of equal length of the locations array.
## 3. Assign the figure variable to the gmaps.figure() attribute.
#fig = gmaps.figure()
## 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
#heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

## 5. Add the heatmap layer.
#fig.add_layer(heatmap_layer)
## 6. Call the figure to plot the data.
#fig

In [7]:
# Heatmap of Temperature 
# Get the latitude and longtitude. 
locations = city_data_df[["Lat", "Lng"]]
# Get Maximum temperature 
max_temp = city_data_df["Max Temp"]
# Assign the figure variable 
fig = gmaps.figure(center=(30.0,31.0), zoom_level = 1.25)
# Assign the heatmap_layer variable and add it to the locations
heatmap_layer = gmaps.heatmap_layer(locations, weights = [max(temp,0) for temp in max_temp],
                                   dissipating = False, max_intensity = 300, point_radius =4)
#Add the heatmap layer
fig.add_layer(heatmap_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity 
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30,31), zoom_level = 1.25)
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating = False, max_intensity = 300, point_radius = 4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent Cloudiness 
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30,31), zoom_level = 1.25)
heat_layer = gmaps.heatmap_layer(locations, weights = clouds, dissipating = False, max_intensity = 300, point_radius = 4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent Wind Speed 
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30,31), zoom_level = 1.25)
heat_layer = gmaps.heatmap_layer(locations, weights = wind, dissipating = False, max_intensity = 300, point_radius = 4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value. 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [12]:
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kahului,US,2020-05-27 20:31:16,20.89,-156.47,87.80,48,40,8.05
12,12,Nueve De Julio,AR,2020-05-27 20:32:23,-35.44,-60.88,70.00,47,0,4.00
15,15,Zharkent,KZ,2020-05-27 20:32:23,44.16,80.00,72.91,28,0,7.07
17,17,Isiro,CD,2020-05-27 20:29:05,2.77,27.62,73.81,81,99,1.99
19,19,Rikitea,PF,2020-05-27 20:32:25,-23.12,-134.97,76.26,82,23,10.87
20,20,Grand Forks,US,2020-05-27 20:28:45,47.93,-97.03,80.60,26,75,21.92
21,21,Rafai,CF,2020-05-27 20:32:25,4.95,23.92,71.82,88,97,2.35
23,23,Jamestown,US,2020-05-27 20:31:18,42.10,-79.24,82.00,47,1,12.75
24,24,Kapaa,US,2020-05-27 20:32:26,22.08,-159.32,80.60,65,20,11.41
27,27,Faridpur,BD,2020-05-27 20:32:27,23.60,89.83,75.20,88,90,3.36

In [13]:
# Check if there are any null values 
preferred_cities_df.count()

City_ID       244
City          244
Country       244
Date          244
Lat           244
Lng           244
Max Temp      244
Humidity      244
Cloudiness    244
Wind Speed    244
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat",
                               "Lng"]].copy()
hotel_df = hotel_df.reset_index()

hotel_df["Hotel Name"] = ""
hotel_df.head(10)

   index            City Country  Max Temp    Lat     Lng Hotel Name
0      0         Kahului      US     87.80  20.89 -156.47
1     12  Nueve De Julio      AR     70.00 -35.44  -60.88
2     15        Zharkent      KZ     72.91  44.16   80.00
3     17           Isiro      CD     73.81   2.77   27.62
4     19         Rikitea      PF     76.26 -23.12 -134.97
5     20     Grand Forks      US     80.60  47.93  -97.03
6     21           Rafai      CF     71.82   4.95   23.92
7     23       Jamestown      US     82.00  42.10  -79.24
8     24           Kapaa      US     80.60  22.08 -159.32
9     27        Faridpur      BD     75.20  23.60   89.83

In [ ]:
# Set Parameters to search for a hotel.
params = {"radius":5000,
         "type": "lodging",
         "key": g_key,
         "location": ""}

# Iterate through the DataFrame. 
for index, row in hotel_df.iterrows():
    
    # Get the latitude and longtitude
    lat = row["Lat"]
    lng = row["Lng"]
    city = row["City"]
    # add the latitude and longitude to location key for the params dict
    params["location"] = f"{lat},{lng}"
    
    # Use base url to search for hotels:
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params = params).json()
    try: 
        # Grab the first hotel from the results and store the name. 
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    except (IndexError):
        print(f"Hotel not found in {city}.... skipping")

Hotel not found in Rafai.... skipping
Hotel not found in Albany.... skipping
Hotel not found in Badajoz.... skipping
Hotel not found in Maraa.... skipping

In [ ]:
hotel_df.head(10)

In [ ]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [ ]:
# Add a heatmap of temperature for the vacation spots.

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center = (30.0,31.0), zoom_level = 1.25)
heat_layer = (gmaps.heatmap_layer(locations, weights = max_temp, dissipating=False,
                                 max_intensity=300, point_radius =4))
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info) 
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

fig