In [1]:
# Import dependicies 
import pandas as pd 
import gmaps 
import gmaps.datasets

from config import g_key 

gmaps.configure(api_key = g_key)

In [2]:
file_name = "Data/WeatherPy_vacation.csv"
vacation_df = pd.read_csv(file_name)
vacation_df.dtypes

City_ID                  int64
City                    object
Country                 object
Max Temp               float64
Current Description     object
Lat                    float64
Lng                    float64
Hotel Name              object
dtype: object

In [3]:
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Castro,BR,62.38,clear sky,-24.79,-50.01,CHACARA BAILLY
1,2,Butaritari,KI,78.96,light rain,3.07,172.79,Isles Sunset Lodge
2,3,Manado,ID,75.20,scattered clouds,1.49,124.85,Aryaduta Hotel
3,5,Jacqueville,CI,80.60,few clouds,5.21,-4.41,Hotel Le Martin Pecheur
4,6,Rikitea,PF,74.77,few clouds,-23.12,-134.97,Pension Maro'i

In [23]:
# CHoose 4 cities from Vacation_df from vacation city map

city_1 = "Laguna"
city_2 = "San Jose"
city_3 = "Salinas"
city_4 = "Coalinga"

In [33]:
# Populate 4 dataframes for each city
city_1_df = vacation_df.loc[vacation_df["City"] == city_1]
city_2_df = vacation_df.loc[vacation_df["City"] == city_2]
city_3_df = vacation_df.loc[vacation_df["City"] == city_3]
city_4_df = vacation_df.loc[vacation_df["City"] == city_4]

city_1_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
77,132,Laguna,US,75.99,overcast clouds,38.42,-121.42,Holiday Inn Express & Suites Elk Grove Central...

In [34]:
value = city_1_df["Lat"] * 10
city_2_coord = (float(city_2_df["Lat"]), float(city_2_df["Lng"]))
city_2_coord

(37.34, -121.89)

In [48]:
# Create figure
fig = gmaps.figure()
# List cities
city_1_coord = (float(city_1_df["Lat"]), float(city_1_df["Lng"]))
city_2_coord = (float(city_2_df["Lat"]), float(city_2_df["Lng"]))
city_3_coord = (float(city_3_df["Lat"]), float(city_3_df["Lng"]))
city_4_coord = (float(city_4_df["Lat"]), float(city_4_df["Lng"]))
# Build layers 
trip = gmaps.directions_layer(city_1_coord, city_2_coord, 
                                waypoints = [city_4_coord, city_3_coord], travel_mode = "DRIVING")

# Add layer to map
fig.add_layer(trip)
# Call map
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
# Create new dataframe containing the 4 separate dataframes 
new_city_df = [city_1_df, city_2_df, city_3_df, city_4_df]
new_city_df = pd.concat(new_city_df)
new_city_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
77,132,Laguna,US,75.99,overcast clouds,38.42,-121.42,Holiday Inn Express & Suites Elk Grove Central...
15,29,San Jose,US,71.60,light rain,37.34,-121.89,The Westin San Jose
84,148,Salinas,US,69.01,light rain,36.68,-121.66,Good Nite Inn Salinas Monterey
251,405,Coalinga,US,77.00,broken clouds,36.14,-120.36,Royal Lodge Motel

In [46]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

In [47]:
# Create figure
fig = gmaps.figure()
# List cities
locations  = new_city_df[["Lat", "Lng"]]
# Build layers 
hotel_info = [info_box_template.format(**row) for index, row in new_city_df.iterrows()]
marker_layers = gmaps.marker_layer(locations, info_box_content = hotel_info)
# Add layer to map
fig.add_layer(marker_layers)
# Call map
fig

Figure(layout=FigureLayout(height='420px'))