In [1]:
%matplotlib inline

In [2]:
# Import the Dependicies
import pandas as pd
import requests
import gmaps 
# import the API key 
from config import g_key

In [3]:
# Import excel file "cities.csv"

city_data_df = pd.read_csv("Data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kahului,US,2020-05-27 20:31:16,20.89,-156.47,87.80,48,40,8.05
1,1,Mataura,NZ,2020-05-27 20:32:19,-46.19,168.86,37.76,86,0,1.88
2,2,Pevek,RU,2020-05-27 20:32:19,69.70,170.31,37.96,76,100,15.86
3,3,Gardone Val Trompia,IT,2020-05-27 20:32:20,45.69,10.19,69.80,49,5,2.24
4,4,Bredasdorp,ZA,2020-05-27 20:32:20,-34.53,20.04,55.40,58,0,6.93

In [4]:
#Checking data types in DataFrame 
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key. 
gmaps.configure(api_key=g_key)

In [6]:
## 1. Assign the locations to an array of latitude and longitude pairs.
#locations = [latitude, longitude]
## 2. Assign the weights variable to some values.
#temperatures = # an array of equal length of the locations array.
## 3. Assign the figure variable to the gmaps.figure() attribute.
#fig = gmaps.figure()
## 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
#heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

## 5. Add the heatmap layer.
#fig.add_layer(heatmap_layer)
## 6. Call the figure to plot the data.
#fig

In [11]:
# Heatmap of Temperature 
# Get the latitude and longtitude. 
locations = city_data_df[["Lat", "Lng"]]
# Get Maximum temperature 
max_temp = city_data_df["Max Temp"]
# Assign the figure variable 
fig = gmaps.figure(center=(30.0,31.0), zoom_level = 1.25)
# Assign the heatmap_layer variable and add it to the locations
heatmap_layer = gmaps.heatmap_layer(locations, weights = [max(temp,0) for temp in max_temp],
                                   dissipating = False, max_intensity = 300, point_radius =4)
#Add the heatmap layer
fig.add_layer(heatmap_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity 
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30,31), zoom_level = 1.25)
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating = False, max_intensity = 300, point_radius = 4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent Cloudiness 
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30,31), zoom_level = 1.25)
heat_layer = gmaps.heatmap_layer(locations, weights = clouds, dissipating = False, max_intensity = 300, point_radius = 4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent Wind Speed 
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30,31), zoom_level = 1.25)
heat_layer = gmaps.heatmap_layer(locations, weights = wind, dissipating = False, max_intensity = 300, point_radius = 4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Ask the customer to add a minimum and maximum temperature value. 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [19]:
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kahului,US,2020-05-27 20:31:16,20.89,-156.47,87.80,48,40,8.05
19,19,Rikitea,PF,2020-05-27 20:32:25,-23.12,-134.97,76.26,82,23,10.87
20,20,Grand Forks,US,2020-05-27 20:28:45,47.93,-97.03,80.60,26,75,21.92
23,23,Jamestown,US,2020-05-27 20:31:18,42.10,-79.24,82.00,47,1,12.75
24,24,Kapaa,US,2020-05-27 20:32:26,22.08,-159.32,80.60,65,20,11.41
27,27,Faridpur,BD,2020-05-27 20:32:27,23.60,89.83,75.20,88,90,3.36
31,31,Albany,US,2020-05-27 20:32:15,42.60,-73.97,87.01,46,100,9.13
33,33,Hilo,US,2020-05-27 20:30:06,19.73,-155.09,82.40,58,75,3.36
37,37,Namatanai,PG,2020-05-27 20:32:31,-3.67,152.43,80.47,80,100,6.35
38,38,Boa Vista,BR,2020-05-27 20:32:31,2.82,-60.67,86.00,62,75,3.36

In [20]:
# Check if there are any null values 
preferred_cities_df.count()

City_ID       197
City          197
Country       197
Date          197
Lat           197
Lng           197
Max Temp      197
Humidity      197
Cloudiness    197
Wind Speed    197
dtype: int64

In [21]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat",
                               "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp    Lat     Lng Hotel Name
0       Kahului      US     87.80  20.89 -156.47
19      Rikitea      PF     76.26 -23.12 -134.97
20  Grand Forks      US     80.60  47.93  -97.03
23    Jamestown      US     82.00  42.10  -79.24
24        Kapaa      US     80.60  22.08 -159.32
27     Faridpur      BD     75.20  23.60   89.83
31       Albany      US     87.01  42.60  -73.97
33         Hilo      US     82.40  19.73 -155.09
37    Namatanai      PG     80.47  -3.67  152.43
38    Boa Vista      BR     86.00   2.82  -60.67